<div class='runner scroller'>
	 <p class='play'>
	 	<img src='playwhite.png'/> <%= jQuery.String.capitalize(type) %> tests 
		<span class='result'></span>
	</p>
	<div class='container'>
		<div class='tests_container'></div>
	</div>
</div>

