/*
* Used Styles
*/

body { margin: 0px; padding: 0px; background-color: #fff; font-family: Arial, Verdana, Helvetica, sans-serif; -webkit-text-size-adjust: none; }

body ul { clear: both; margin: 0; padding: 0; }
body ul > li { position: relative; margin:0; list-style: none; clear:both; }
body ul > li > a { display: block; text-decoration: none; color: inherit; }
body ul > li > a > img { float:left; margin-right: 10px; width: 50px; border: 0px solid white; }

.header { background: #c00024; overflow: hidden; padding: 5px 10px; }
.header h1 { width: 129px; height: 30px; float: left; margin: 0; }
.header h1 a { width: 129px; height: 30px; display: block; float: left; text-indent: -9999px; }
.header .search { color: #FFF; line-height: 30px; font-size: 80%; float: right; }
.header .search a { color: #FFF;}
.header .search a:hover { text-decoration: none;}

.nav { padding: 0; margin: 0; background: #FFF; width: 100%; border-bottom: 1px solid #CCC; }
/* .nav td { background: transparent url("/i/uragan/img/line.png") no-repeat center right; } */
.nav td.issue { background: none; }
.nav a { display: block; text-decoration: none; margin: 1px 2px 1px 1px; padding: 8px 5px; text-align: center; color: #333; font-size: 80%; font-family: Georgia, "Times New Roman", Times, Serif; text-transform: uppercase; }
.nav a.on { background: #F0F0F0; color: #CC3333; font-weight: bold; }
.nav td.last { background: none; }
.nav td.last a { margin: 1px; }

.filter { background: #F3F3F3; overflow: hidden; padding: 10px; border-bottom: 1px solid #CCC; }
/*.filter select { width: 50%; font-size: 90%; } */
.filter span { color: #333; font-size: 70%; padding-top: 5px; display: block; }
.filter .search { display: block; overflow: hidden; }
.filter .search input { width: 55%; font-size: 80%; border: 1px solid #333; padding: 5px; font-weight: bold; color: #000; }
.filter .search .button { background: #00CFFF url("/i/mobi/more.png") repeat-x bottom left; margin: 0; border-left: 1px solid #49E0ff; border-top: 1px solid #49E0ff; border-right: 1px solid #0C778D; border-bottom: 1px solid #0C778D; padding: 5px 10px; font-size: 70%; text-decoration: none; color: #FFF; width: 100px;}
.filter .search .button:hover { background: #00B0D9; }

/* Folder breadcrumb */
/* .breadcrumb { padding: 8px 0 8px 10px; font-size: 80%; background: #F0F0F0; color: #CC3333; font-weight: bold;} */

.breadcrumb {
	overflow:hidden;
	margin:0;
	padding:0;
	height:30px;
	line-height:30px;
	border:1px solid #eee;
	margin-bottom:1px;
}

.breadcrumb span.delimiter {
	background:url(./images/breadcrumb.png) no-repeat left center;
	overflow:hidden;
	padding:0 0 0 10px;
	width:0px;
	filter:alpha(opacity=40);
	opacity:0.4;
}



.image-thumbnail-200x {
    width: 200px;
}

.toolbar {
    -moz-border-radius:0 0 0 10px;
    border: 1px solid #CCC;
    background-color: #FFF;
    float: right;
    height: 100%;
    margin:0 10px 0 0;
    padding: 8px 8px 8px 10px;
}

.toolbar ul > li {
    float: left;
    clear: none;
    padding: 2px;
}

.toolbar dl {
    list-style: none;
}

.toolbar dl {
    list-style: none;
}

.toolbar dl > dt {
    float: left;
    padding: 0 0 0 5px;
}

.toolbar dl > dd {
    display: none;
    float: right;
}

/* List elements */
ul.list > li { border-bottom: 1px solid #CCC; background-color: #FFF; padding: 8px 0 8px 10px; }
ul.list > li > a { font-family: Georgia, "Times New Roman", Times, Serif; color: #003366; font-size: 16px; font-weight: normal; margin: -8px 0 -8px -10px; padding: 8px 32px 8px 10px; }
ul.list > li > a > span { font-size: 11px; }
ul.list > li > a > sup { vertical-align: bottom; font-size: 12px; color: #666; font-weight: normal; font-family: Arial, Verdana, Helvetica, sans-serif; }
ul.list > li > a > sup { display: block; }

ul.list > li > a:after {	content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
ul.list > li > a[selected], ul.content > li > a:active { background-color:#194fdb !important; background-repeat: no-repeat, repeat-x; background-position: right center, left top; color:#fff !important; }

/* Tile Elements */

ul.tile {
    padding: 0;
    margin: 0;
}

ul.tile > li {
    float: left;
    margin: 2px;
    width: 200px;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 8px 0 8px 10px;
    clear: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    /* behavior: url(css/border-radius.htc); */
    border-radius: 6px;
}

ul.tile > li > a {
    display: block;
    font-family: Georgia, "Times New Roman", Times, Serif;
    color: #003366;
    font-size: 16px;
    font-weight: normal;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px; 
}

ul.tile > li > .image-thumbnail-200x {
    clip: rect(0px, 200px, 200px, 0px);
    overflow: hidden;
    /* position: absolute; */
}

/*

ul.tile > li > a > span { font-size: 11px; }
ul.tile > li > a > sup { vertical-align: bottom; font-size: 12px; color: #666; font-weight: normal; font-family: Arial, Verdana, Helvetica, sans-serif; }
ul.tile > li > a > sup { display: block; }

ul.tile > li > a:after {	content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
ul.tile > li > a[selected], ul.content > li > a:active { background-color:#194fdb !important; background-repeat: no-repeat, repeat-x; background-position: right center, left top; color:#fff !important; }
*/


.showArrow > li > a.folder { background-image: url(/~static/img/m/arrow.png); background-repeat: no-repeat; background-position: right; }


/* Label/Form fields */
label { width: 10em; float: left; }
label.error {
    float: none; color: red; padding-left: .10em; vertical-align: top;
    margin-left: 10px;
}
.submit { margin-left: 12em; }

textarea.error, input.error { border: 1px solid red; width: auto; }

label.valid {
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
    float: none; color: green; padding-left: .10em; vertical-align: top;
    margin-left: 10px;
}


.clear { clear: both; display: block; }
.left { float: left; }
.right { float: right; }

.gut { background: #202020; padding: 5px; overflow: hidden; text-align: center; font-size: 70%; text-align: center; display: block; }
.gut a { color: #999; text-decoration: underline; padding: 5px; float: left; }
.gut a:hover { color: #FFF; text-decoration: none; }

#footer { color: #666; background-color: #d9d9d8; font-size: 10px; text-align: center; padding: 5px; margin-top: 0px; clear: both; }
#footer a { color: #333; display: block; margin: 0 0 5px 0; font-size: 12px; }
#footer a.backTop { font-weight: bold; }

/* file dropable area */
.droparea[dragenter="true"] {
    background-color: yellow;
}

#loader {
    display: none;
    position: absolute;
    margin-left: 10px;
    background: url(images/spinner.gif) no-repeat center;
    height: 16px;
    width: 16px;
}

#progress-bar {
    border: 1px solid black;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    top: 165px;
    width: 300px;
}

@media all and (min-width: 400px) {
  .file-checkbox {
        display: none;
  }
}

.truncate {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from "visible"*/
    -o-text-overflow: ellipsis;    /* Opera */
    text-overflow:    ellipsis;
    -moz-binding: url('../xml/ellipsis.xml#ellipsis');
}

#editor {
    position: relative;
    width: 100%;
    height: 600px;
}

#files .focus {
    display: block;
}

#files .blur {
    display: none;
}
