<form class="invite" method="post" action="/-rest/user/invite">
<fieldset>
   <legend>Invite user to join.</legend>
   <p>
     <label>E-Mail</label>
     <input type="text" name="to_email" size="25" class="required email" />
   </p>
   <p>
     <label>Your message</label>
     <textarea name="message" cols="22" class="required" title="Write Message"></textarea>
   </p>
   <p>
     <input type="submit" value="Send"/>
   </p>
</fieldset>
</form>